.header_container {
    width: 100%;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: var(--padding-5xs) var(--padding-6xs);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.header_logo-container {
    display: flex;
    flex-direction: row;
}

.header_main-logo {
    height: 40px;
    /* Adjust as needed */
    margin-right: var(--gap-5xs);
}

.header_logo-text {
    height: 40px;
    /* Adjust as needed */
}

.header_button {
    cursor: pointer;
    border: 1px solid var(--burning-orange-400-main);
    padding: var(--padding-5xs) var(--padding-mini);
    background-color: transparent;
    border-radius: var(--br-5xs);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    white-space: nowrap;
    z-index: 1;
}

.header_button:hover {
    background-color: var(--color-chocolate-200);
    border: 1px solid var(--color-chocolate-100);
    box-sizing: border-box;
}

.header_button-text {
    position: relative;
    font-size: var(--text-body-font-medium-full-caps-size);
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: var(--text-body-font-medium-full-caps);
    color: var(--burning-orange-400-main);
    text-align: left;
}

@media screen and (max-width: 1080px) {
    .header_container {
        display: none;
    }
}