.swift-icon {
    width: 42px;
    height: 30.9px;
    position: absolute;
    margin: 0 !important;
    top: 24.8px;
    left: 156px;
    z-index: 1;
}

.swift-icon {
    width: 91.8px;
    height: 32px;
    top: 24px;
    left: 211.5px;
}

.button6 {
    cursor: pointer;
    border: 1px solid var(--burning-orange-400-main);
    padding: var(--padding-5xs) var(--padding-mini);
    background-color: transparent;
    position: absolute;
    top: 20px;
    left: 1157px;
    border-radius: var(--br-5xs);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    white-space: nowrap;
    z-index: 1;
}

.button6:hover {
    background-color: var(--color-chocolate-200);
    border: 1px solid var(--color-chocolate-100);
    box-sizing: border-box;
}

.button7 {
    position: relative;
    font-size: var(--text-body-font-medium-full-caps-size);
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: var(--text-body-font-medium-full-caps);
    color: var(--burning-orange-400-main);
    text-align: left;
}