.page2 {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--white);
}

.topHalf {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Center content vertically */
  align-items: center;
  /* background: url("./../../assets/light.svg"); */
  height: 296px;
  width: 744px;
}

.theme {
  width: 160px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
  background: linear-gradient(89.9deg, #f23e0d, #fb793c);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  font-family: Barlow;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;

}

.mask-group-icon {
  width: 1128px;
  height: 296px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 176px);
  left: calc(50% - 564px);
  object-fit: cover;
}

.issue {
  font-family: Barlow;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;

}

.risk {
  align-self: stretch;
  font-size: var(--text-lg-font-normal-size);
  line-height: 28px;
  color: var(--gray);
  font-family: Barlow;
  font-size: 21px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;

}

.midSection {
  width: 160px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
  background: linear-gradient(89.9deg, #f23e0d, #fb793c);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  font-family: Barlow;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

.bottomHalf {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.bottomText {
  flex: 2;
  padding: 12%;
}

.bottomImage {
  flex: 1;

}
.bottomImage img{
  height: 360px;
  width: 360px;
}

.revolution {
  font-family: Barlow;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
}

.focus{
  color: var(--coquelicot);
}