:root {
  --size-small: 8px;
  --size-medium: 16px;
  --size-large: 24px;
  --size-xlarge: 32px;
  --size-xxlarge: 48px;
  --size-3xlarge: 72px;
  --padding-small: 8px;
  --padding-medium: 16px;
  --padding-large: 24px;
  --padding-xlarge: 32px;
  --padding-top: 72px;
  --gap-small: 12px;
  --gap-medium: 24px;
  --gap-large: 32px;
  --border-radius: 4px;
}

/* =========================== */
/* Font */
footer {
  text-align: left;
  font-size: var(--size-medium);
  color: #abb5b3;
  font-family: Barlow;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: var(--size-large);
  align-self: center;
  padding-top: var(--size-3xlarge);
  padding-bottom: var(--size-small);
}

/* ==================================== */
.social-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer_logo {
  display: flex;
  align-items: center;
}

.footer-logo,
.footer-logo-text {
  max-height: 40px;
}

.footer_socials {
  max-height: 40px;
  display: flex;
  align-items: center;
  gap: var(--gap-small);
}

/* ================================ */
.form {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.main-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-medium);
  max-width: 100%;
}

.text-field {
  display: flex;
  max-width: 100%;
  justify-content: flex-start;
  min-width: min(400px, 100svh);
  background-color: var(--night-900);
  border-radius: var(--border-radius);
  align-items: center;
  font-family: var(--text-base-leading-6-font-bold);
  color: var(--night-300);
}

.mail-field {
  height: 40px;
}

.message-field {
  height: 74px;
}

.contact-button {
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--text-body-font-medium-full-caps);
  color: var(--coquelicot-50);
  text-align: left;
  cursor: pointer;
  padding: var(--padding-small) var(--padding-medium);
  background-color: var(--coquelicot-600-main);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 100;
}

.contact-button:hover {
  background-color: var(--color-orangered-100);
}

.about-us {
  flex: 1;

  display: flex;
  justify-content: space-evenly;
}

.lh-24 {
  line-height: 24px;
}

.image-assembler {
  display: flex;
  align-items: center;
  gap: var(--gap-large);
}

@media screen and (max-width: 750px) {
  .form {
    flex-direction: column;
    align-items: center;
    gap: var(--gap-medium);
  }

  .main-form,
  .about-us {
    min-width: 100%;
  }
}

/* ======================= */
.foot-note {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  border-top: 1px solid var(--white-smoke);
  line-height: 24px;
}

@media screen and (max-width: 750px) {
  .foot-note {
    flex-direction: column;
  }
}

/* ========================= */