.from-slow-to {
  width: 200px;
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
  background: linear-gradient(89.9deg, #f23e0d, #fb793c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  box-sizing: border-box;
  padding-left: var(--padding-xl);
  padding-right: var(--padding-xl);
}
.mask-group-icon {
  width: 564px;
  height: 148px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: calc(50% - 281.5px);
  object-fit: cover;
}
.are-slow-iterations,
.game-development-is1 {
  align-self: stretch;
  position: relative;
  line-height: 28px;
}
.game-development-is1 {
  font-size: var(--text-body-font-medium-full-caps-size);
  line-height: 24px;
  color: var(--night-300);
}
.child-nodes,
.descendant-nodes,
.isolated-node {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.descendant-nodes {
  align-self: stretch;
  justify-content: center;
  gap: var(--gap-base);
  z-index: 1;
}
.child-nodes,
.isolated-node {
  justify-content: flex-start;
}
.isolated-node {
  align-self: stretch;
  padding: var(--padding-29xl) 0 0;
  position: relative;
  font-size: var(--text-lg-font-normal-size);
}
.child-nodes {
  position: absolute;
  top: 1089px;
  left: 15px;
  width: 345px;
  gap: var(--gap-base);
  text-align: center;
  font-size: var(--text-body-font-medium-full-caps-size);
  color: var(--white-smoke);
  font-family: var(--text-body-font-medium-full-caps);
}
.aunt-nodes-icon {
  position: absolute;
  top: 1622.5px;
  left: 151.2px;
  width: 10.2px;
  height: 6.3px;
}
.nephew-nodes-icon {
  position: absolute;
  top: 1629.9px;
  left: 156.8px;
  width: 5.4px;
  height: 4.4px;
  z-index: 5;
}
.cousin-once-removed-nodes {
  position: absolute;
  top: 1567.5px;
  left: 124px;
  width: 65.6px;
  height: 2.6px;
  z-index: 9;
}
.data-receiver-icon {
  height: 1.7px;
  width: 128.5px;
  position: relative;
  mix-blend-mode: normal;
  z-index: 4;
}
.data-sharer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.fast {
  color: var(--coquelicot-600-main);
}
.from-initial-brainstorming,
.we-are-revolutionizing-container {
  align-self: stretch;
  position: relative;
  line-height: 28px;
}
.from-initial-brainstorming {
  font-size: var(--text-body-font-medium-full-caps-size);
  line-height: 24px;
  color: var(--night-300);
}
.data-protector,
.data-sender {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.data-sender {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-base);
}
.data-protector {
  position: absolute;
  top: 1636px;
  left: 15px;
  width: 345px;
  align-items: flex-end;
  gap: 27.3px;
  text-align: left;
  font-size: var(--text-lg-font-normal-size);
  color: var(--white-smoke);
  font-family: var(--text-body-font-medium-full-caps);
}
.sw1 {
  color: var(--coquelicot-600-main);
}
.the-swift-swystem-container1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.05em;
  line-height: 48px;
  font-weight: 900;
  font-family: inherit;
}
.game-development-is2 {
  align-self: stretch;
  position: relative;
  font-size: var(--text-body-font-medium-full-caps-size);
  line-height: 24px;
  color: var(--night-300);
}
.data-visualizer {
  position: absolute;
  top: 1965px;
  left: 13px;
  width: 345px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  text-align: center;
  font-size: var(--text-3xl-font-bold-size);
  color: var(--white-smoke);
  font-family: var(--text-body-font-medium-full-caps);
}
.line-3-stroke1 {
  position: absolute;
  top: 2180px;
  left: 181px;
  width: 10px;
  height: 1165px;
  object-fit: contain;
}
.ideate {
  flex: 1;
  position: relative;
  line-height: 28px;
  flex-shrink: 0;
}
.parent-node {
  height: 20.3px;
  width: 20.3px;
  position: relative;
  border-radius: 50%;
  background-color: var(--night-200);
  border: 0 solid var(--night-400);
  box-sizing: border-box;
  z-index: 1;
}
.envision-the-skies {
  flex: 1;
  position: relative;
  font-size: var(--text-body-font-medium-full-caps-size);
  line-height: 24px;
  text-align: left;
}
.branch-node,
.value-filter {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.branch-node {
  top: 2245px;
  left: 13px;
  width: 345px;
  flex-direction: row;
  gap: var(--gap-base);
}
.value-filter {
  top: 4952px;
  left: 0;
  width: 100%;
  flex-direction: column;
  max-width: 100%;
}
.decision-maker {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--night-700);
  box-sizing: border-box;
}
.made-with,
.swift-all-rights {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.swift-all-rights {
  color: var(--night-300);
}
.data-merger,
.sequence-manager {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sequence-manager {
  align-self: stretch;
  gap: var(--gap-5xs);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--text-sm-font-regular-size);
  color: var(--white-smoke);
  font-family: var(--text-base-leading-6-font-bold);
}
.data-merger {
  position: absolute;
  top: 7898px;
  left: 15px;
  width: 345px;
  height: 80px;
  gap: var(--gap-5xl);
}
.iphone-13-mini-1 {
  width: 100%;
  height: 8010px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  letter-spacing: normal;
  text-align: right;
  font-size: var(--text-lg-font-normal-size);
  color: var(--white-smoke);
  font-family: var(--text-body-font-medium-full-caps);
}
