.hiring-developers1 {
  align-self: stretch;
  height: 40px;
  position: relative;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.mix-icon12 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.varied-development-speed1 {
  flex: 1;
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 162px;
}
.mix-parent5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0 24px;
  min-height: 72px;
}
.mix-icon13 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.high-commitment-with1 {
  flex: 1;
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 162px;
}
.mix-parent6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0 24px;
  min-height: 72px;
}
.mix-icon14 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.direct-involvement-but1 {
  position: relative;
  line-height: 24px;
}
.mix-parent7 {
  align-self: stretch;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.mix-icon15 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.constant-micromanagement1 {
  flex: 1;
  position: relative;
  line-height: 24px;
}
.data-integrity,
.frame-container,
.mix-parent8 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.mix-parent8 {
  height: 72px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xl);
}
.data-integrity,
.frame-container {
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-size: var(--text-body-font-medium-full-caps-size);
}
.data-integrity {
  border-radius: var(--br-base);
  background: linear-gradient(
    180deg,
    rgba(58, 63, 63, 0.7),
    rgba(58, 63, 63, 0)
  );
  align-items: center;
  padding: var(--padding-5xl);
  gap: var(--gap-5xl);
  text-align: center;
  font-size: var(--text-lg-font-normal-size);
  color: var(--white-smoke);
  font-family: var(--text-body-font-medium-full-caps);
}
