.wrapper-group-42-item,
.wrapper-group-421 {
  position: absolute;
  mix-blend-mode: color-dodge;
}
.wrapper-group-42-item {
  width: 100%;
  height: 100%;
  object-fit: contain;
  left: 0;
  top: -13px;
  transform: scale(1.116);
}
.wrapper-group-421 {
  width: 793px;
  height: 232px;
  margin: 0 !important;
  top: 342px;
  left: -224.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.matrix-node-child {
  width: 1040.5px;
  height: 109px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% + 152.9px);
  left: -348px;
  z-index: 1;
}
.game1 {
  color: var(--coquelicot-600-main);
}
.get-your-game-container1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--text-3xl-font-bold-size);
  letter-spacing: -0.05em;
  line-height: 48px;
  font-weight: 900;
  font-family: inherit;
}
.button13,
.lets-get-your1 {
  position: relative;
  line-height: 24px;
}
.lets-get-your1 {
  align-self: stretch;
  color: var(--night-200);
}
.button13 {
  text-transform: uppercase;
  font-weight: 500;
}
.button12 {
  border-radius: var(--br-5xs);
  background-color: var(--white-smoke);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-xs);
  white-space: nowrap;
  text-align: left;
  color: var(--coquelicot-600-main);
}
.join-node,
.matrix-node,
.set-node {
  display: flex;
  justify-content: flex-start;
}
.set-node {
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-45xl) 0;
  gap: var(--gap-13xl);
  z-index: 2;
}
.join-node,
.matrix-node {
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.matrix-node {
  width: 345px;
  flex-direction: column;
  padding: 0;
  position: relative;
  gap: var(--gap-5xs);
  z-index: 4;
}
.join-node {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-mini);
  text-align: center;
  font-size: var(--text-body-font-medium-full-caps-size);
  color: var(--white-smoke);
  font-family: var(--text-body-font-medium-full-caps);
}
@media screen and (max-width: 197px) {
  .button12 {
    width: calc(100% - 40px);
  }
}
