.swystem {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    max-width: 100%;
    text-align: center;
    font-size: var(--text-5xl-font-black-size);
    color: var(--white);
    font-family: var(--text-body-font-medium-full-caps);
}
.star-node {
    width: 100%;
}
.swift-header {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.05em;
    line-height: 80px;
    font-weight: 900;
    font-family: inherit;
    font-family: Barlow;
    font-size: 80px;
    font-weight: 900;
    line-height: 80px;
    letter-spacing: -0.05em;
    text-align: center;

}

.sw {
    color: var(--coquelicot);
}

.game-development-is {
    width: 706px;
    position: relative;
    line-height: 28px;
    display: inline-block;
    flex-shrink: 0;
    max-width: 100%;
    font-family: Barlow;
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;

}


.polygon-node {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    font-size: var(--text-lg-font-normal-size);
    color: var(--gray);
}

.line-3-stroke {
    height: 1434px;
    width: 10px;
    position: absolute;
    margin: 0 !important;
    right: 714.5px;
    bottom: -1320px;
    object-fit: contain;
}

