.branch-node {
  align-self: stretch;
  justify-self: center;
  padding: 0 var(--padding-45xl) var(--padding-155xl);
  font-size: 32px;
  color: var(--white-smoke);
  font-family: var(--text-body-font-medium-full-caps);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
  justify-content: center;
  gap: var(--gap-5xl);
}

.branch-node-title {
  width: 25%;
  font-size: inherit;
  line-height: 40px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  text-align: left;
  max-width: 40%;
}

.branch-node-divider {
  height: 27px;
  width: 27px;
  position: relative;
  border-radius: 50%;
  background-color: var(--night-200);
  border: 0 solid var(--night-400);
  box-sizing: border-box;
  z-index: 1;
}

.branch-node-content {
  width: 25%;
  position: relative;
  font-size: 24px;
  line-height: 36px;
  text-align: left;
  display: inline-block;
}

@media screen and (max-width: 1080px) {
  .branch-node {
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    padding-bottom: var(--padding-155xl);
  }

  .branch-node-title {
    font-size: var(--font-size-10xl);
    line-height: 32px;
    max-width: 40%;
    min-width: none;
  }
}