/* .branch-node{
  border: 2px solid red;
}
.branch-node>* {
  border: 1px solid purple;
}

.branch-node>*>* {
  border: 1px dashed yellow;
}

.branch-node>*>*>* {
  border: 1px dotted green;
} */
.branch-node {
  align-self: stretch;
  justify-self: center;
  padding: 0 var(--padding-45xl) var(--padding-155xl);
  font-size: var(--text-2xl-font-bold-size);
  color: var(--white-smoke);
  font-family: var(--text-body-font-medium-full-caps);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
  justify-content: center;
  gap: var(--gap-5xl);
}

.ideate1 {
  width: 25%;
  font-size: inherit;
  line-height: 40px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  text-align: left;
  max-width: 40%;
}
.parent-node1 {
  height: 27px;
  width: 27px;
  position: relative;
  border-radius: 50%;
  background-color: var(--night-200);
  border: 0 solid var(--night-400);
  box-sizing: border-box;
  z-index: 1;
}
.envision-the-skies1 {
  width: 25%;
  position: relative;
  font-size: var(--text-body-font-medium-full-caps-size);
  line-height: 24px;
  text-align: left;
  display: inline-block;
}


@media screen and (max-width: 1080px) {
  .branch-node {
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    padding-bottom: var(--padding-155xl);
  }
  .ideate1 {
    font-size: var(--font-size-10xl);
    line-height: 32px;
    max-width: 40%;
    min-width: none;
  }
}
