/* Common styles */
.highlight {
  color: var(--coquelicot-600-main);
}

/* System Overview Container */
.system-overview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* System Overview Section */
.system-overview {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 160px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font-size: var(--text-5xl-font-black-size);
  color: var(--white-smoke);
  font-family: var(--text-body-font-medium-full-caps);
  position: relative;
}

/* Overview Header */
.overview-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Overview Title */
.overview-title {
  margin: 0;
  font-size: inherit;
  letter-spacing: -0.05em;
  line-height: 80px;
  font-weight: 900;
  font-family: inherit;
  text-align: center;
}

/* Overview Description */
.overview-description {
  display: flex;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--text-lg-font-normal-size);
  color: var(--night-300);
  width: 100%;
}

/* Description Text */
.description-text {
  width: 706px;
  line-height: 28px;
  flex-shrink: 0;
}

/* Divider Line */
.divider-line {
  height: 1434px;
  width: 20px;
  position: absolute;
  right: 50%;
  bottom: -1320px;
  transform: translateX(50%);
  object-fit: contain;
}

/* Media Queries */
@media screen and (max-width: 1050px) {
  .overview-title {
    font-size: var(--font-size-21xl);
    line-height: 48px;
  }
}

@media screen and (max-width: 750px) {
  .overview-header {
    gap: var(--gap-9xl);
  }
}

@media screen and (max-width: 450px) {
  .overview-title {
    font-size: var(--font-size-5xl);
    line-height: 32px;
  }

  .description-text {
    font-size: var(--font-size-mid);
    line-height: 22px;
  }

  .system-overview {
    padding-bottom: 104px;
  }
}